.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: rgb(96, 72, 129);
}

.pin_logo{
    width: 65px;
    height: 65px;
    display: flex;
}

.navigation-list {
    display: flex;
}

.navigation-list_item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.profile_img {
    width: 60px;
    height: 60px;
    display: flex;
}

.navigation-list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

