.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: rgb(96, 72, 129);
}

.pin_logo{
    width: 65px;
    height: 65px;
    display: flex;
}

.navigation-list {
    display: flex;
}

.navigation-list_item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.profile_img {
    width: 60px;
    height: 60px;
    display: flex;
}

.navigation-list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.pin_icon_add {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    text-align: center;

    background-color: aliceblue;
    cursor: pointer;
    transition-duration: 0.5s;
}

.pin_icon_add:hover {
    background-color: rgb(174, 149, 201);
}
