@import url('../css/pin_style.css');
@import url('../css/header.css');


body {
    background: rgb(32, 24, 41);
}

body,
div {
    box-sizing: border-box;
    margin: o;
    padding: 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    background-color: transparent;
}
